@import url('https://fonts.googleapis.com/css?family=Tangerine&display=swap');

html,
body {
    background-image: url(../images/bg-image.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
    background-size: cover;
    clear: both;
}


.container {
    display: flex;
}

.navbar-dark {
    background-color: #152238;
}

.navbar-dark .navbar-brand {
    color: #fff;
    font-weight: bold;
    font-family: "Tangerine", cursive, sans-serif;
    font-size: 2rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-weight: bold;
}

h1,
h2 {
    text-align: center;
    font-family: "Tangerine", cursive, sans-serif;
}

.jumbotron {
    margin-top: 2rem;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    color: #ffffff;
    background-color: #152238;
    border-radius: .3rem;
}

.display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
    font-family: "Tangerine", cursive, sans-serif;
}

.row {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.media-body {
    margin-top: 10px;
}

.btn-success {
    color: #fff;
    background-color: #5F9F9F;
    border-color: #5F9F9F;
    margin-bottom: 20px;
}

.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    height: 3rem;
    padding-top: 0.8rem;
    background-color: #152238;
}


@media only screen and (max-width: 550px) {
    .table {
        font-size: 9px;
        font-weight: bold;
    }
    .btn-sm {
        font-size: 9px;

    }
    .table-data {
        padding-right: 1px;
        padding-left: 1px;
    }
}

.row-review {
    margin-top: 25px;
    background-color: rgba(245, 246, 250, 1.0);
}

.row-welcome {
    margin-top: 20px;
    background-color: rgba(245, 246, 250, 1.0);
}

.text-dark {
    color: #343a40;
    padding: 1em;
    margin: 0.5em;
}
