{% extends 'base.html' %} {% block content %}

<div class="container-fluid">

    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <div class="jumbotron">
                <h1 class="display-4">About....Out and About !</h1>
                <p class="lead">Between scenery, history, mythology and ancient paths, Ireland has some of the best walking and hiking trails in the world. National Geographic say Ireland is in the Top 5 Walking and Hiking Destinations in the world. This site aims to
                    inspire people to get out and about and to share their walking experiences and routes around the country.</p>
                <hr class="my-4">
                <p>Whether it’s a short walk along a beach, a ramble in lush green valleys, coastal walks, longer hikes on spectacular waymarked trails or climbs up great mountain ranges such as the MacGillycuddy’s Reeks in Kerry, lets put one foot
                    in front of the other, get out and about, and start to reap the benefits! Please feel free to add, edit, update and review walking routes to help grown and enrich our database</p>
                <a class="btn btn-success btn-lg" href="{{url_for('get_walks')}}" role="button">Start Exploring!</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
