<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark home-logo-text">
            <a class="navbar-brand" href="{{url_for('get_walks')}}"><i
                    class="fas fa-walking"></i> Out And About <i
                    class="fas fa-walking"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" href="{{url_for('about')}}">About</a>
                    <a class="nav-item nav-link" href="{{url_for('add_new_walk')}}">Add A Walk</a>
                    <a class="nav-item nav-link" href="{{url_for('walk_review')}}">Review Walk</a>
                     <a class="nav-item nav-link" href="{{url_for('read_review')}}">Read Reviews</a>
                </div>
            </div>
                    </nav>
    </header>
       
    <!-- Container for injected templates -->
    <div class="container-fluid justify-content-center">


    {% block content %} {% endblock %}

 <!-- Footer -->
  <footer class="fixed-bottom">
    <div class="container-fluid">
      <p class="m-0 text-center text-white">Code Institute - Milestone 3 Project - Data Centric Development</p>
    </div>
    <!-- /.container -->
  </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>